{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'globals.css' %}" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>
<body>
<div class="mockups-desktop">
    <div class="div">
        <div class="slidshow">
            <img class="picture" src="{% static 'img/picture.png' %}" />
        </div>
        <div class="recent">
            <div class="overlap">
                <div class="overlap-group-wrapper">
                    <div class="overlap-group">
                        <div class="overlap-2">
                            <div class="rectangle"></div>
                            <div class="rectangle"></div>
                            <div class="rectangle"></div>
                            <img class="screenshot" src="{% static 'img/screenshot-2566-10-22-at-21-20-1.png' %}" />
                        </div>
                        <div class="five-nights-at">Five Nights at Freddy&#39;s</div>
                    </div>
                </div>
                <div class="review"></div>
                <div class="rate-review">Rate &amp; Review</div>
            </div>
        </div>
        <div class="overlap-wrapper">
            <div class="overlap">
                <div class="overlap-group-wrapper">
                    <div class="overlap-group">
                        <div class="overlap-3">
                            <div class="rectangle-2"></div>
                            <img class="img" src="{% static 'img/rectangle-4128-3.png' %}" />
                        </div>
                        <div class="text-wrapper">Thor: Ragnarok</div>
                    </div>
                </div>
                <div class="review"></div>
                <div class="rate-review">Rate &amp; Review</div>
            </div>
        </div>
        <div class="overlap-4">
            <div class="overlap-group-wrapper">
                <div class="overlap-5">
                    <div class="recommend">
                        <div class="overlap-group">
                            <div class="overlap-3">
                                <div class="rectangle-2"></div>
                                <div class="rectangle-2"></div>
                                <div class="text-wrapper-2">image 2</div>
                            </div>
                            <div class="text-wrapper-3">Barbie</div>
                        </div>
                    </div>
                    <div class="review"></div>
                    <div class="rate-review">Rate &amp; Review</div>
                </div>
            </div>
            <img class="screenshot-2" src="{% static 'img/screenshot-2566-10-22-at-21-23-1.png' %}" />
        </div>
        <div class="group">
            <div class="div-wrapper"><div class="text-wrapper-4">View all</div></div>
        </div>
        <div class="group-2">
            <div class="div-wrapper"><div class="text-wrapper-4">View all</div></div>
        </div>
        <div class="ads">
            <div class="overlap-6"><div class="text-wrapper-5">Ads</div></div>
        </div>
        <div class="text-wrapper-6">Recommended</div>
        <div class="text-wrapper-7">Recent</div>
        <div class="overlap-7">
            <div class="overlap-group-wrapper">
                <div class="overlap-8">
                    <div class="overlap-group-2">
                        <div class="rectangle-3"></div>
                        <div class="rectangle-3"></div>
                        <img class="rectangle-4" src="{% static 'img/rectangle-4128-2.png' %}" />
                    </div>
                    <div class="title">Super Mario Bros</div>
                </div>
            </div>
            <div class="rectangle-5"></div>
            <div class="text-wrapper-8">SEE REVIEW</div>
            <img class="vector" src="{% static 'img/vector.svg' %}" />
            <img class="blue-cool-dad" src="{% static 'img/blue-cool-dad-sticker-1-removebg-preview-4.png' %}" />
        </div>
        <div class="overlap-9">
            <div class="overlap-group-wrapper">
                <div class="overlap-8">
                    <div class="overlap-group-2">
                        <div class="rectangle-3"></div>
                        <div class="rectangle-3"></div>
                        <img class="rectangle-4" src="{% static 'img/rectangle-4128.png' %}" />
                    </div>
                    <div class="title">TENET</div>
                </div>
            </div>
            <div class="rectangle-5"></div>
            <div class="text-wrapper-8">SEE REVIEW</div>
            <img class="vector" src="{% static 'img/vector.svg' %}" />
            <img class="blue-cool-dad-2" src="{% static 'img/blue-cool-dad-sticker-1-removebg-preview-4.png' %}" />
        </div>
        <div class="overlap-10">
            <img class="blue-cool-dad-2" src="{% static 'img/blue-cool-dad-sticker-1-removebg-preview-4-3.png' %}" />
            <div class="overlap-group-wrapper">
                <div class="overlap-8">
                    <div class="overlap-group-2">
                        <div class="rectangle-3"></div>
                        <div class="rectangle-3"></div>
                        <img class="rectangle-4" src="{% static 'img/rectangle-4128-3.png' %}" />
                    </div>
                    <div class="title">MY BEST FRIEND</div>
                </div>
            </div>
            <div class="rectangle-5"></div>
            <div class="text-wrapper-8">SEE REVIEW</div>
            <img class="vector" src="{% static 'img/vector.svg' %}" />
            <img class="blue-cool-dad-2" src="{% static 'img/blue-cool-dad-sticker-1-removebg-preview-4.png' %}" />
        </div>
        <div class="group-3">
            <div class="overlap-11">
                <header class="header">
                      <img class="movie" src="{% static 'img/movie.svg' %}" />
                      <img class="menu" src="{% static 'img/menu.svg' %}" />
                      <img class="tv-show" src="{% static 'img/tv-show.svg' %}" />
                <img class="material-symbols-tv" src="{% static 'img/material-symbols-tv-guide-outline.svg' %}" />
                <div class="profile"><img class="ellipse" src="{% static 'img/ellipse-4.png' %}" /></div>
                <div class="search"></div>
                <div class="text-wrapper-9">Innovitech</div>
                <img class="logo" src="{% static 'img/logo.png' %}" />
                <img class="mingcute-menu-fill" src="{% static 'img/mingcute-menu-fill.svg' %}" />
                <img class="group-4" src="{% static 'img/group.png' %}" />
                <img class="icon-park-movie" src="{% static 'img/icon-park-movie.svg' %}" />
                <div class="search-2">
                    <img class="search-item" src="{% static 'img/search-item.svg' %}" />
                    <input class="search-name-list-of" placeholder="Search Name list of movie" type="text" />
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
