body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.box {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.main-box {
    background-color: #ADD8E6;
    height: 1300px;

}

.secondary-box {
    background-color: #ADD8E6;
    height: 1300px;
    margin-bottom: 20px;
}

.third-box {
    background-color: white;
    color: black;
    display: flex; 
    align-items: center; 
    gap: 20px; 
}

.profile-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: left;
}

.profile-img {
    width: 80px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    display: flex;
}


.review-section {
    display:flexbox;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
  


.review-box {
    background-color: #ffcccb;
    padding: 5px 5px;
    border-radius: 20px;
    display:block;
    margin-top: 1px;
}
.review-box2 {
    background-color: greenyellow;
    padding: 5px 5px;
    border-radius: 20px;
    display:block;
    margin-top: 1px;
}
.review-box3 {
    background-color: pink;
    padding: 5px 5px;
    border-radius: 20px;
    display:block;
    margin-top: 1px;
}


button {
    padding: 10px 20px;
    border: none;
    background-color: bisque;
    color: purple;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.rating {
    font-size: 20px;
    margin-top: 10px;
}

.movie-img {
    width: 100px;
    margin-right: 10px;
}

.movie-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items:right;
}
.follow-header {
    font-size: 24px;
    font-weight: bold;align-items:right;
    align-items:center;
}

.follow-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.follow-profile {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 20px;
}

.follow-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.follow-profile h2 {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
}
.show-more {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    color: #0077cc; 
    cursor: pointer;
}
.community-section {
    text-align: center;
    padding: 30px;
    background-color: #E0FFFF; 
    border-radius: 10%;
}

.community-section h1 {
    font-size: 32px;
    margin-bottom: 30px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
}

.image-wrapper {
    width: 100px; /* You can adjust the size as needed */
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}